@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin: 80px 10px;
}

body {
  font-family: 'nunito', sans-serif;
  color: #646464;
  height: 100vh;
  background: radial-gradient(circle, rgb(184 104 255 / 22%) 0%, rgb(255 255 255) 100%);
}

label {
  color: #666;
}

.container {
  background-color: white;
  max-width: 500px;
  min-width: 290px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  background: linear-gradient(335deg, #ff378ca6, #654ea3c2) !important;
  display: inline-block;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  transition: 0.5s;
  font-family: inherit;
}

.checkbox {
  max-width: 30px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-position: right center !important;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid #c079ff;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
